# =========================
# DEPENDENCIES
# =========================

**/node_modules/

# =========================
# JAVA
# =========================
**/target/
*.jar
*.war
*.class

# =========================
# PYTHON
# =========================
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# .NET
# =========================
**/bin/
**/obj/
.vs

# =========================
# FRONTEND BUILD OUTPUTS
# =========================
dist/
build/
.angular/

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# DOCKER / DEV FILES
# =========================
docker-compose.override.yml
Dockerfile